@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&family=Dancing+Script:wght@700&display=swap');

/* Local Monotype Corsiva fonts (user provided). Paths point to the folder included in the project.
   If you move the font files, update these URLs accordingly. */
@font-face {
    font-family: 'Corsiva';
    src: url('/certificate-assets/Monotype Corsiva/Monotype-Corsiva-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Corsiva';
    src: url('/certificate-assets/Monotype Corsiva/Monotype-Corsiva-Regular-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Corsiva';
    src: url('/certificate-assets/Monotype Corsiva/Monotype-Corsiva-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Corsiva';
    src: url('/certificate-assets/Monotype Corsiva/Monotype-Corsiva-Bold-Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Times New Roman', Times, serif;
}

.certificate-container {
    width: 297mm; /* A4 landscape width */
    min-height: 210mm; /* A4 landscape height */
    padding: 0;
    box-sizing: border-box;
}

.certificate {
    background-color: white;
    width: 100%;
    height: 210mm; /* A4 landscape height */
    position: relative;
    padding: 40px 70px 30px 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Large centered watermark using the local logo image. Grayscale + low opacity to mimic paper watermark. */
.certificate::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 65%;
    height: 65%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/certificate-assets/badhanlogo.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.08;
    filter: grayscale(100%) brightness(1.3);
    pointer-events: none;
    z-index: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 40px;
    width: calc(100% - 160px);
    font-size: 14px;
    z-index: 2;
}

.header-left {
    padding-left: 20px;
}

.header-right {
    padding-right: 20px;
}

.logo {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding: 5px 15px;
    border-radius: 5px;
}

.logo-img {
    display: block;
    height: 64px;
    width: auto;
}

.logo-placeholder {
    font-size: 24px;
    font-weight: bold;
    color: #c00000;
}

.info-box {
    position: absolute;
    top: 80px;
    right: 80px;
    text-align: left;
    font-weight: 700;
    z-index: 2;
}

.info-box p {
    margin: 0;
}

.main-content {
    text-align: center;
    margin-top: 80px;
    z-index: 2;
}

.title-badhan {
    font-family: Verdana, sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #c00000;
    margin: 20px 0 0;
}

.subtitle {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    margin: 0;
}

.registration {
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0 20px;
}

.certificate-title {
    font-family: 'Tinos', serif;
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0;
}

.acknowledgment-text {
    font-family: 'Corsiva', 'Allura', 'Dancing Script', cursive;
    text-align: left;
    line-height: 2.2;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 25px;
}

.underline {
    padding: 0 5px;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
    color: #000000;
    text-shadow: 0 0 0.5px #000000;
}

.wish {
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 0px;
    font-family: 'Corsiva', cursive;
    font-style: italic;
    z-index: 2;
}

.signature {
    width: 200px;
    text-align: center;
}

.signature p {
    margin: 0;
    font-size: 16px;
    font-family: 'Corsiva', cursive;
    font-style: italic;
}

.sign-line {
    border-top: 1px solid black;
    padding-top: 5px;
    font-weight: 800;
    font-family: 'Corsiva', cursive;
    font-style: italic;
}

.badhan-red {
    color: #c00000;
    font-weight: 700;
    font-family: 'Corsiva', cursive;
    font-style: italic;
}
